* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'raleway';
}

.container {
    padding: 1em;
    max-width: 1140px;
    background-color: #fff;
}

.type-image {
    width: 100%;
}

.home img {
    width: 80%;
    padding: 1em;
    margin-top: 2em;
    margin-left: 5%;
}

h4,
p {
    margin-bottom: 1em;
}


a {
    color: #ffe082;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #ffffb3;
}

header {
    width: 80%;
    float: left;
}

nav {
    width: 30%;
    float: right;
}

.center {
    width: 100%
}

.page-footer {
    margin-top: 1em;
}

h1 img {
    width: 70%;
}

header h2 {
    font-size: 20px;
    width: 70%;
    color: #5472d3;
    margin-left: 1em;
}

.main-menu li {
    padding: 6px;
    border-bottom: solid 1px #000;
}

.main-menu ul {
    list-style-type: none;
}

.menu-button {
    text-align: right;
}

.menubar {
    width: 202px;
    background-color: #fff;
    border: solid 2px #eee;
    position: absolute;
    right: 16px;
}

.search {
    padding: 6px;
}

.search button {
    width: 30%;
    padding: 6px
}

.search input {
    width: 40%;
    margin: 2px;
    border: solid 1px #ccc;
}

.dropdown li {
    border: none;
}

.btn {
    background-color: teal;
    padding: 8px;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

.btn:hover {
    background-color: aqua;
    color: aliceblue;
}

.programs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aquamarine;
    width: 100%;
}

.card {
    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width: 20%;
    margin: 6px;
    border: solid 1px #eee;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 2em;
}

.card-body {
    padding: 6px;
}

.learn {
    margin-top: 1em;
}

@media(min-width:768px) {
    .container {
        border: solid 1px #5472d3;
        margin: 1em;
    }

    header {
        width: 40%;
    }

    header h2 {
        font-size: 25px;
        background-color: #f2d146;
        width: 240%;
        text-align: center;
        padding:5px;
        color: #fff;
        border:none;
        margin:auto;
    }

    nav {
        width: 60%;
        text-align: right;
        margin-top: 1em;
    }

    .menu-button {
        display: none;
    }


    .menubar {
        position: static;
        width: 100%;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #f2d146;
        border-radius: 0.5em;

    }

    .dropdown {
        margin: 1em;
        padding-right: 0.5em;
    }

    .main-menu li {
        display: inline-block;
        border: none;
        margin-right: 3em;
    }

    .dropdown li {
        display: block;
        margin-left: 0;
    }

    .dropdown ul {
        text-align: center;
        border: solid 1px #ccc;
        padding: 6px;
        background-color: #fff;
        width: 150px;
        position: absolute;
        display: none;
    }

    .dropdown:hover ul {
        display: block;
    }

    .search {
        text-align: center;
        padding-top: 1.5em;
    }
    
    

    a {
        color: #0d47a1;
    }
    
    footer{
        background-color: #f2d146;
        color: #fff;
        text-align: center;
        font-size: 20px;
    }
}
